*{
    padding:0rem;
    margin:0rem;
}
html{
    font-size:62.2%
}
body{
    background-color: rgb(247, 239, 229);
}
.content{
    height:42rem;
    width:50rem;
    display: flex;
    position: relative;
    left:45rem;
    top:5rem;
    border-radius: 1rem;
    background-color: white;
    margin-bottom: 2rem;
    padding-top:-2rem;
    box-shadow: 0.1rem  0.1rem  1rem black;
}
.labl{
    font-size:2rem;
    color: rgb(126, 123, 123);
    font-family: arial;
    margin-top:-5rem
}
.info p{
    font-size:1.3rem;
    margin-top:-5rem;
    margin-bottom: 3rem;
    color: rgb(142, 137, 137);
    font-family: sans-serif;
}
.info h1{
      font-size:3rem;
      font-family: Arial, Helvetica, sans-serif,fantasy;
      text-transform: capitalize;
      margin-top:1.3rem;
      margin-bottom:8rem
}
.info{
    margin-left: 3em;
}
.prdouct-image img{
       height:42.3rem;
       width:28rem;
       border-radius:1rem 0rem 0rem 1rem;
       margin-left:-5.2rem
}

#price1{
    font-family:arial;
    font-size:3rem;
    font-weight: bolder;
    color: rgb(16, 131, 16);
}
#price2{
    font-size:1.5rem;
    font-weight: bold;
    margin-left:1rem;
    margin-top:-5rem;
    color: rgb(22, 158, 22);
    text-decoration: line-through;
}

.btn{
    margin-top:4rem;
    width:20rem;
    height:5rem;
    border-radius: 1rem;
    background-color:rgb(57, 146, 81) ;
    border:transparent;
    font-size:2rem;
    color:white;
    font-weight: bold;
    cursor:pointer
}

.btn:hover{
    background-color:rgb(77, 165, 100) 
}

.attribution{
    margin-top:10rem;
    font-size:2rem;
    text-align: center;
    width:50rem;
    margin-left:42rem;
}

@media (max-width: 1798px) {
    html {
        font-size: 80%;
    }
}

@media (max-width: 1598px) {
    html {
        font-size: 70%;
    }
}

@media (max-width: 1298px) {
    html {
        font-size: 60%;
    }
}

@media (max-width: 1198px) {
    html {
        font-size: 50%;
    }
}
@media (max-width: 998px) {
    html {
        font-size: 40%;
    }
}

@media (max-width: 798px) {
    html {
        font-size: 35%;
    }
}

@media (max-width: 698px) {
    html {
        font-size: 30%;
    }
}

@media (max-width: 598px) {
    html {
        font-size: 25%;
    }
}

@media (max-width: 498px) {
    html {
        font-size: 20%;
    }
}

@media (max-width: 398px) {
    html {
        font-size: 15%;
    }
}


